/*ABOUT PAGE*/
*{
  padding:0;
  margin:0;
  text-decoration: none;
  list-style:none;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;;
}

/*NAVIGATION BAR*/
nav{
  background: black;
  height:85px;
  min-width: 1440px;
}
.logo{
  padding: 20px 0 30px 100px;
  width: 22%;
}

nav ul{
  float:right;
  margin-right:20px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color:#cc7a00;
  font-size:18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform:uppercase;
}

a.active, a:hover{
	color: #ffc266;
	text-decoration: underline;
	transition: .3s;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float:right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display:none;
}
#check{
  display: none;
}


/* SETTING THE MINIMUM WIDTH OF THE MAIN BACKGROUND*/
.bg-1 {  
	min-width: 1440px;
}

/*ABOUT US TITLE*/
.about-title {
    min-width: 1440px;
    color: #ffe680;
    padding: 15px 0 10px 5px;
    font-size: 45px;
    text-align: center;
    background: -webkit-linear-gradient(#b36b00, #DABF8D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*SETTING THE IMAGE AS THE BACKGROUND*/
.aboutbg {
    height: 90vh;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.65)), url(bag.jpg);
    background-size: cover;
    min-width: 1440px;
}

.abouttxt {
    height: 73vh;
    background-color: rgba(0,0,0,0.6);
    margin: 0 150px;
    border-radius: 15px;
    box-sizing: border-box;
}

/*TEXT OF THE QUESTIONS*/
.question {
    text-align: center;
    font-size: 2em;
    padding: 15px 0 0 0; 
    color: #ffe680;
}

/*TEXT OF THE ANSWERS*/
.answer {
    text-align: justify;
    font-size: 1.15em;
    padding: 10px 280px 5px 280px;
    color: #ffe680;
    line-height: 30px;
}

/*FOOTER*/
.footer {
	background-color: black; 
	height: 30vh;
	min-width: 1440px;
}
/*CONTACT LOGOS*/
.contactlogos {
	width: 50%;
	text-align: center;
	margin: auto;
	padding-top: 30px;
}

.footer-elements{
	color: darkgrey;
	text-align: center;
    text-decoration: none;
}

.footer-elements a{
    text-decoration: none;
    color: darkgrey;
    
}
.icontxt {
    font-family: 'Poppins', sans-serif; 
    font-weight: normal;
    font-size: 14px;
}