/*CONTACT STYLES PAGE*/
*{
  padding:0;
  margin:0;
  text-decoration: none;
  list-style:none;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;;
}

/*NAVIGATION BAR*/
nav{
  background: black;
  height:85px;
min-width: 1440px;
}
.logo{
  padding: 20px 0 30px 100px;
  width: 22%;
}

nav ul{
  float:right;
  margin-right:20px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color:#cc7a00;
  font-size:18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform:uppercase;
}

a.active, a:hover{
	color: #ffc266;
	text-decoration: underline;
	transition: .3s;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float:right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display:none;
}
#check{
  display: none;
}

/*CONTACT US PAGE TITLE*/
.contact-title {
    min-width: 1440px;
    color: #ffe680;
    padding: 15px 0 10px 5px;
    font-size: 45px;
    text-align: center;
    background: -webkit-linear-gradient(#b36b00, #DABF8D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*SETTING THE IMAGE FOR THE CONTACT PAGE*/
.contactbg{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url(contactbag.jpg);  
    background-size: cover;
	min-width: 1440px;
}

/*INSPIRATION FROM W3SCHOOLS*/
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ffe680; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px;  Bottom margin 
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  background-color: rgba(0,0,0,0.4);
  color: white;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #ffe680;
  color: black;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

label{
    color:#ffe680;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #b36b00;
}

/* Add a background color and some padding around the form */
.container {
    padding: 20px;
    height: 65vh;
    background-color: rgba(0,0,0,0.6);
    margin: 0 150px;
    border-radius: 15px;
    min-height: 65vh;
}

.form-container {
    padding-bottom: 40px;
}

/*FOOTER*/
.footer {
	background-color: black; 
	height: 30vh;
	min-width: 1440px;
}

/*CONTACT LOGOS*/
.contactlogos {
	width: 50%;
	text-align: center;
	margin: auto;
	padding-top: 30px;
}

.footer-elements{
	color: darkgrey;
	text-align: center;
    text-decoration: none;
}

.footer-elements a{
    text-decoration: none;
    color: darkgrey;
}

.icontxt {
    font-family: 'Poppins', sans-serif; 
    font-weight: normal;
    font-size: 14px;
}